@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif; 
    font-weight: 300;
    color: #4e4e4e
}

/* headings and logo */

h1 {
    font-family: Barlow Condensed, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #4e4e4e; 
}

h2 {
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #4e4e4e; 
}

#logo {
    float: left;
    font-size: 280%;
    letter-spacing: 4px;
    font-style: italic;
    margin-left: 30px 
}

/* navigation links */

#menu {
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    font-size: 150%;
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    color: #00B1B8;  
}

.active {
    border-bottom: 1px solid #4e4e4e;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../images/hero-image.jpg') no-repeat center center;
}