@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif; 
    font-weight: 300;
    color: #4e4e4e
}

/* headings and logo */

h1 {
    font-family: Barlow Condensed, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #4e4e4e; 
}

h2 {
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #4e4e4e; 
}

#logo {
    float: left;
    font-size: 280%;
    letter-spacing: 4px;
    font-style: italic;
    margin-left: 30px 
}

/* navigation links */

#menu {
    font-family: Barlow Condensed, sans-serif;
    font-weight: 400;
    font-size: 150%;
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    color: #00B1B8;  
}

.active {
    border-bottom: 1px solid #4e4e4e;
}

/* hero image */

/*
This code was causing then navigation bar not to work so it has been removed. 

#hero-container {
    position: relative;
    text-align: center;
}
*/

#cover-text h1 {
    color: #fafafa;
}

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-color: #4e4e4e;
    position: relative;
}

#cover-text {
    font-size: 200%;
    font-family: Barlow Condensed, sans-serif;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* introduction */

#intro {
    height: 600px;
}

#introduction {
    text-align: center;
    padding: 1% 16.5%;
}

#introduction > p {
    padding-top: 1%;
}

#left-about {
    padding-top: 5px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 5px;
    width: 33%;
    float: right;
    background-color: green;
}

#center-about {
    padding-top: 5px;
    margin: 0 auto;
    background-color: red;
}